{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row mt-5 mx-5 text-center">
    <div class="col-sm-6 text-white mt-5 display-4">
        {% block extra_title %} Booking List{% endblock %}
    </div>

    {%for booking in booking_list%}
    <div class="container my-2 pb-4">
        <div class="row">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6 bg-white rounded">
                <div>{{booking}}</div>
            </div>
        </div>
    </div>

    {% endfor %}
    {% endblock %}
</div>