{% extends 'base.html' %}
{% load static %}

{% block content %}

{% block extra_js %}

{% endblock %}

<div id="booking" class="section my-5">
    <div class="section-center">
        <div class="container mt-5">
            <div class="row">
                <div class="row-col-2 mx-auto">
                    <div class="booking-cta">
                        <h1>Book Here</h1>
                        <p>Welcome to Holiday Home Klanfari,
                            We are looking forward to meeting you!
                        </p>
                    </div>
                </div>

                <div class="row-col-2 mx-auto">
                    <div class="booking-form">
                        <form method="POST" action="{% url 'bookings' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <span class="form-label">Apartment</span>
                                {{form.apartment_name}} </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <span class="form-label">Check In</span>
                                        <div class="col-sm-6"> {{form.check_in}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 rounded">
                                    <div class="form-group">
                                        <span class="form-label">Check out</span>
                                        <div class="col-sm-6"> {{form.check_out}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <span class="form-label" name="beds_nr">Beds</span>
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-btn">
                                <button class="submit-btn">Check availability</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}