{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Main Content -->
<div class="container">
    <div class="row row-col-2 mt-5 text-white">
        <!-- House Image -->
        <div class="image col">
            <img src="/media/images/whole-house.jpg" class="m-5">
        </div>
        <div class="row row-col-2 mt-5 text-left bg-primary rounded p-3">
            <!-- Apartment Details -->
            <div class="room">
                <!-- Div 1: Back to Apartments -->
                <div class="home">
                    <a href="{% url 'apartments' %}"><i class="fas fa-arrow-alt-circle-left text-white display-5 m-2 hovering"> BACK TO APARTMENTS</i></a>
                </div>
                <!-- Div 2: Apartment Booking Form -->
                <form id="booking-form" action="" method="POST">

                    {% csrf_token %}
                    <div class="form-group" name="apartment_name">
                        <span class="form-label">Apartment</span>
                        {{form.apartment_name}} </div>

                    <!-- Input Div -->
                    <div class="input-div">
                        <label for="id_check_in">Check In : </label>
                        <input type="datetime-local" id="id_check_in" name="check_in">
                    </div>

                    <!-- Input Div -->
                    <div class="input-div">
                        <label for="id_check_out">Check Out : </label>
                        <input type="datetime-local" id="id_check_out" name="check_out">
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <div class="form-label" name="guest_nr">Guest Number</div>
                                {{form.guest_nr}}
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                </select>
                                <span class="select-arrow"></span>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <span class="form-label" id="beds_nr" name="beds_nr">Beds</span>
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                                <span class="select-arrow"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-div">
                        <button type="submit" class="btn btn-light">Book an Apartment</button>
                    </div>

                </form>

            </div>
        </div>

    </div>


</div> <!-- END Main Content Div -->


</div>
</div>
{% endblock %}