{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row mt-5">
    <div class="col">
        <h2>Thank you very much for booking with us, We will get back to you shortly!</h2>
    </div>
    <div class="col">

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% if messages %}
            <ul class="list-group" id="msg">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <li>{{message | safe}}</li>
                    {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% block postloadjs %}
<script>
    setTimeout(function() {
        let messages = document.getElementById('msg');
        let alert = new bootstrap.Alert(messages);
        alert.close();
    }, 2500);
</script>

{% endblock %}
{% endblock %}