{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-3">
    <br>
    <br>
    <br>
    <h1 class="title text-white font-weight-bold text-center">
        Guests Reviews - Feedback
    </h1>
</div>
<div class="container col-md-6 mb-4">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <a href="{% url 'add_feed' %}" class="btn btn-primary text-white my-3">Add new Feedback</a>
            </div>
        </div>
    </article>

    {% for feedback in feedbacks %}

    <div class="main-content mb-4 p-1 mx-2">
        <div class="col">
            <strong class="text-white">{{ feedback.date_posted }}</strong>
            <br>
            <div class="bg-white rounded p-2">
                {{ feedback.text }}
            </div>
            <br>
            <div class="text-white">
                {% if user.is_authenticated %}
                Posted by {{ full_name }}
            </div>
            {% endif %}

        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}